<label class="item item-input item-select">
   <span class="input-label">品牌</span>
   <select ng-model="BRAND_NAME" ng-change="carClaprocess();">
      <option value="">请选择</option>
      <option ng-repeat="VHL in CAR_DATA.VHL_LIST | unique:'BRAND_NAME'" value="{{VHL.BRAND_NAME}}">{{VHL.BRAND_NAME}}</option>
   </select>
</label>
<label class="item item-input item-select">
   <span class="input-label">车款</span>
   <select ng-model="FAMILY_NAME" ng-change="carClaprocess();">
      <option value="">请选择</option>
      <option ng-repeat="VHL in CAR_DATA.VHL_LIST | unique:'FAMILY_NAME'" value="{{VHL.FAMILY_NAME}}">{{VHL.FAMILY_NAME}}</option>
   </select>
</label>
<label class="item item-input item-select">
  <span class="input-label">排气量</span>
  <select ng-model="DISPLACEMENT" ng-change="carClaprocess();">
    <option value="">请选择</option>
    <option ng-repeat="VHL in CAR_DATA.VHL_LIST | unique:'DISPLACEMENT'" value="{{VHL.DISPLACEMENT}}">{{VHL.DISPLACEMENT}}</option>
  </select>
</label>
<label class="item item-input item-select">
  <span class="input-label">手动自动</span>
  <select ng-model="CAR_REMARK" ng-change="carClaprocess();">
    <option value="">请选择</option>
    <option ng-repeat="VHL in CAR_DATA.VHL_LIST | unique:'CAR_REMARK'" value="{{VHL.CAR_REMARK}}">{{VHL.CAR_REMARK}}</option>
  </select>
</label>
<label class="item item-input item-select">
  <span class="input-label">车辆型号</span>
  <select ng-model="MODEL_NAME" disabled="disabled">
    <option value="">请选择</option>
  </select>
</label>
<ion-scroll>
   <ion-list class="car-module-list">
      <ion-radio ng-repeat="VHL in CAR_DATA.VHL_LIST | unique:'MODEL_NAME'" ng-value="VHL.MODEL_CODE" ng-click="checkCarModel(VHL);">{{VHL.DESCRIBE+'(参考价:'+VHL.VEHICLE_PRICE+')'}}</ion-radio>
   </ion-list>
</ion-scroll>
<button class="button button-block button-sure-scm" ng-click="chooseCarModel();">确定</button>

