.app-toast {
  display: none;
  position: absolute;
  z-index: 99999;
  color: #fff;
  top: 70%;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  left: 0;
  >a {
    padding: 10px 15px;
    background: #222;
    opacity: .9;
    display: inline-block;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    border-radius: 20px;
  }
}
