<ion-view view-title="客户信息" class="mit-view" hide-tabs="true">
   <ion-content class="im-wrapper">
      <div class="card-form">
         <form class="list-block-from" name="owConfirmform" ng-submit="checkOrder(owConfirmform)" novalidate="novalidate">
            <div class="item-text-wrap">
               <div class="list">
                  <div class="form-group">
                     <div class="form-group-title">
                        <div>投保人信息</div>
                        <div class="checkbox-box field-check-box">
                           <ion-checkbox ng-checked="CAR_BEANS.APP_SAME_CHECK" ng-model="CAR_BEANS.APP_SAME_CHECK" ng-value="{{CAR_BEANS.APP_SAME_CHECK?CAR_BEANS.appIsDrvOwner='1':CAR_BEANS.appIsDrvOwner='0'}}"><span class="field-title">同车主</span></ion-checkbox>
                        </div>
                     </div>
                     <label class="item item-input">
                        <span class="input-label">姓名</span>
                        <input type="text" placeholder="请输入姓名" name="APP_NME" ng-model="CAR_BEANS.APP_NME"  require="true" required-msg="请输入投保人姓名" ng-pattern="/^[\u4e00-\u9fa5 ]{2,8}$/" pattern-msg="您的投保人姓名输入有误" ng-readonly="CAR_BEANS.APP_SAME_CHECK"/>
                     </label>
                     <label class="item item-input">
                        <span class="input-label">身份证号码</span>
                        <input type="text" placeholder="请输入身份证号" name="APP_CERT_NO" ng-model="CAR_BEANS.APP_CERT_NO" required required-msg="请输入投保人身份证号" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" pattern-msg="您的投保人身份证号输入有误" ng-readonly="CAR_BEANS.APP_SAME_CHECK"/>
                     </label>
                     <label class="item item-input">
                        <span class="input-label">手机号码</span>
                        <input type="text" placeholder="请输入手机号码" name="APP_TEL" ng-model="CAR_BEANS.APP_TEL" required required-msg="请输入投保人手机号码" ng-pattern="/^[1][3-9][0-9]{9}$/" pattern-msg="您的投保人手机号码输入不正确"/>
                     </label>
                  </div>
                  <div class="form-group">
                     <div class="form-group-title">
                        <div>被保险人信息</div>
                        <div class="checkbox-box field-check-box">
                           <ion-checkbox ng-checked="CAR_BEANS.REC_SAME_CHECK" ng-model="CAR_BEANS.REC_SAME_CHECK" ng-value="{{CAR_BEANS.APP_SAME_CHECK?CAR_BEANS.insrntIsDrvOwner='1':CAR_BEANS.insrntIsDrvOwner='0'}}"><span class="field-title">同车主</span></ion-checkbox>
                        </div>
                     </div>
                     <label class="item item-input">
                        <span class="input-label">姓名</span>
                        <input type="text" placeholder="请输入姓名" name="INSRNT_CNM" ng-model="CAR_BEANS.INSRNT_CNM"  required required-msg="请输入被保人姓名" ng-pattern="/^[\u4e00-\u9fa5 ]{2,8}$/" pattern-msg="您的被保人姓名输入有误" ng-readonly="CAR_BEANS.REC_SAME_CHECK"/>
                     </label>
                     <label class="item item-input">
                        <span class="input-label">身份证号码</span>
                        <input type="text" placeholder="请输入身份证号" name="BIZ_CERT_NO" ng-model="CAR_BEANS.BIZ_CERT_NO" required required-msg="请输入被保人身份证号" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" pattern-msg="您的被保人身份证号输入有误"  ng-readonly="CAR_BEANS.REC_SAME_CHECK"/>
                     </label>
                     <label class="item item-input">
                        <span class="input-label">手机号码</span>
                        <input type="text" placeholder="请输入手机号码" name="INSRNT_TEL" ng-model="CAR_BEANS.INSRNT_TEL" required required-msg="请输入被保险人手机号码" ng-pattern="/^[1][3-9][0-9]{9}$/" pattern-msg="您的被保险人手机号码输入不正确"/>
                     </label>
                  </div>
                  <div class="form-group">
                     <div class="form-group-title">
                        <div>保单配送信息</div>
                     </div>
                     <ul class="toggle-tabs" ng-ul-adaption>
                        <li>
                           <input type="radio" name="tabs" id="tab1" checked />
                           <label for="tab1">免费配送</label>
                           <div id="tab-content1" class="tab-content">
                              <div class="delivery-address">
                                 <div>配送地址</div>
                                 <div class="checkbox-box field-check-box">
                                    <ion-checkbox ng-model="IDE_REC_INFO"><span class="field-title">同被保险人</span></ion-checkbox>
                                 </div>
                              </div>
                              <div class="delivery-from">
                                 <label class="item item-input">
                                    <span class="input-label">收件人姓名</span>
                                    <input type="text" placeholder="请输入收件人姓名" name="RECIPIENT_CNM" ng-model="SUB_CH_DATA.RECIPIENT_CNM" ng-value="IDE_REC_INFO?(SUB_CH_DATA.RECIPIENT_CNM=CAR_BEANS.INSRNT_CNM):''" required required-msg="请输入收件人姓名" ng-readonly="IDE_REC_INFO"/>
                                    <div style="clear: both"></div>
                                 </label>
                                 <label class="item item-input">
                                    <span class="input-label">收件人城市</span>
                                    <span class="city-picker">
                                       <input type="text" placeholder="请选择收件地址所在城市" name="RECIPIENT_ADDS" ng-model="SUB_CH_DATA.RECIPIENT_ADDS" ng-city-picker="true" required required-msg="请选择收件地址所在城市" readonly/>
                                       <input type="hidden" for-val = "code"  ng-model="SUB_CH_DATA.CITY_CODE"      ng-value="SUB_CH_DATA.CITY_CODE=C_CITY_CODE"/>
                                       <input type="hidden" for-val = "name"  ng-model="SUB_CH_DATA.RECIPIENT_ADDS" ng-value="SUB_CH_DATA.RECIPIENT_ADDS=C_RECIPIENT_ADDS"/>
                                       <input type="hidden" for-val = "carNo" ng-model="SUB_CH_DATA.CITY_CNHEADER"  ng-value="SUB_CH_DATA.CITY_CNHEADER=C_CITY_CNHEADER"/>
                                    </span>
                                    <div style="clear: both"></div>
                                 </label>
                                 <label class="item item-input">
                                    <span class="input-label">详细地址</span>
                                    <input type="text" placeholder="请输入详细地址" name="RECIPIENT_ADDS_DET" ng-model="SUB_CH_DATA.RECIPIENT_ADDS_DET" required required-msg="请输入详细地址"/>
                                    <div style="clear: both"></div>
                                 </label>
                                 <label class="item item-input">
                                    <span class="input-label">手机号码</span>
                                    <input type="text" placeholder="请输入收件人手机号码" name="RECIPIENT_PHONE" ng-model="SUB_CH_DATA.RECIPIENT_PHONE" ng-value="IDE_REC_INFO?SUB_CH_DATA.RECIPIENT_PHONE=CAR_BEANS.INSRNT_TEL:''" required required-msg="请输入收件人手机号码" ng-pattern="/^[1][3-9][0-9]{9}$/" pattern-msg="您的收件人手机号码输入不正确"/>
                                    <div style="clear: both"></div>
                                 </label>
                              </div>
                           </div>
                        </li>
                        <li>
                           <input type="radio" name="tabs" id="tab2" />
                           <label for="tab2">门店自取</label>
                           <div id="tab-content2" class="tab-content">
                              <span class="expect-note">
                                 暂未开放，尽请期待
                              </span>
                           </div>
                        </li>
                     </ul>
                     <label class="item item-input item-select disc-item-select">
                        <span class="input-label">配送时间</span>
                        <select>
                           <option value="">周一至周五</option>
                           <option value="">周六周日</option>
                        </select>
                     </label>
                  </div>
                  <div class="form-group">
                     <div class="form-group-title">
                        <div>条款信息</div>
                     </div>
                     <div class="clause-content-box">
                        <a href="#">《特别约定》</a>
                        <a href="#">《投保申明》</a>
                        <a href="#">《商业保险条款》</a>
                        <a href="#">《交强保险条款》</a>
                        <a href="#">《免责申明》</a>
                        <a href="#">《偿付能力告知书》</a>
                     </div>
                     <div class="clause-agree-box">
                        <div class="checkbox-box field-check-box">
                           <ion-checkbox ng-model="CLAUSE_AGREE_FLAG">
                              <span class="clause-agree-title">我已同意并阅读以上内容，并已确认以上录入信息为正确无误真实数据。</span>
                           </ion-checkbox>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <button type="submit" class="button button-assertive button-width-full" ng-disabled="!CLAUSE_AGREE_FLAG">提交订单</button>
         </form>
      </div>
   </ion-content>
</ion-view>
