<ion-view view-title="车型查询" hide-tabs="true">
   <ion-content class="im-wrapper" ng-controller="formController">
      <div class="card-form">
         <form class="list-block-from" novalidate="novalidate">
            <div class="item-text-wrap">
               <div class="list scm-form-item">
                  <label class="item item-input">
                     <i class="icon ion-search placeholder-icon"></i>
                     <input type="text" class="search-input" placeholder="输入要找的车型名称或车架号" ng-model="CAR_SEARCH_INFO">
                  </label>
                  <button class="button button-calm button-search" ng-click="queryCarModule()">查询</button>
               </div>
               <div style="clear:both;"></div>
            </div>
         </form>
      </div>
      <div class="card scm-card">
         <form class="list-block-from" novalidate="novalidate">
            <div class="item-text-wrap">
               <div class="list list-screen-box">
                  <div class="search-note-box"><i class="icon ion-ios-search-strong"></i> 暂无数据</div>
               </div>
            </div>
         </form>
      </div>
   </ion-content>
</ion-view>
