<ion-view view-title="电子投保" class="mit-view">
   <ion-content class="im-wrapper">
      <div class="list insurance-list">
         <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-search-strong"></i>
            投保进度查询
            <i class="icon ion-ios-arrow-right"></i>
         </a>
         <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-camera-outline"></i>
            影像补传
            <i class="icon ion-ios-arrow-right"></i>
         </a>
         <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-android-drafts"></i>
            草稿箱
            <i class="icon ion-ios-arrow-right"></i>
         </a>
         <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-umbrella"></i>
            非车销售
            <i class="icon ion-ios-arrow-right"></i>
         </a>
      </div>
   </ion-content>
</ion-view>