<ion-view view-title="车险报价" class="mit-view" hide-tabs="true">
   <ion-content class="im-wrapper bar-footer-padding" delegate-handle="handleScroll">
      <div class="card-form">
         <form class="list-block-from" name="form" ng-submit="owinfoSubmit(form);" novalidate="novalidate">
            <div class="form-group">
               <div class="form-group-title" ng-click="IS_SHOW_CARINFO = !IS_SHOW_CARINFO" ng-init="IS_SHOW_CARINFO = false">
                  <span>车辆信息</span>
                  <i class="icon {{IS_SHOW_CARINFO?'ion-ios-arrow-down':'ion-ios-arrow-right'}} icon-for-right"></i>
               </div>
               <div ng-show="IS_SHOW_CARINFO">
                  <label class="item item-input">
                     <span class="input-label">车型名称</span>
                     <input type="text" value="{{CAR_BEANS.VHL_DATA.MODEL_NAME}}" readonly/>
                  </label>
                  <label class="item item-input">
                     <span class="input-label">制造厂商</span>
                     <input type="text" value="{{CAR_BEANS.VHL_DATA.CAR_MAKER}}" readonly/>
                  </label>
                  <label class="item item-input">
                     <span class="input-label">车辆年份</span>
                     <input type="text" value="{{CAR_BEANS.VHL_DATA.MARKET_YEAR}}" readonly/>
                  </label>
                  <label class="item item-input">
                     <span class="input-label">新车购置价</span>
                     <input type="text" value="{{CAR_BEANS.VHL_DATA.VEHICLE_PRICE}}" readonly/>
                  </label>
                  <label class="item item-input">
                     <span class="input-label">座位数</span>
                     <input type="text" value="{{CAR_BEANS.VHL_DATA.SET_NUM}}"/>
                  </label>
                  <label class="item item-input">
                     <span class="input-label">排气量</span>
                     <input type="text" value="{{CAR_BEANS.VHL_DATA.DISPLACEMENT}}"/>
                  </label>
                  <label class="item item-input item-select">
                     <span class="input-label">验车情况</span>
                     <select ng-model="CAR_BEANS.CHK_CDE">
                        <option value="305005003">已验车</option>
                        <option value="305005003">免验车</option>
                        <option value="305005004">需验车</option>
                     </select>
                  </label>
                  <label class="item item-input item-select">
                     <span class="input-label">理由</span>
                     <select ng-model="CAR_BEANS.CHK_RSLT">
                        <option value="">验车合格</option>
                        <option value="">验车不合格</option>
                     </select>
                  </label>
               </div>
            </div>
            <div class="item item-ron-wrap">
               <div class="form-group">
                  <div class="ins-header-checkbox">
                     <div class="checkbox-box">
                        <ion-checkbox ng-checked="CAR_BEANS.SY_ORIG_FLG" ng-model="CAR_BEANS.SY_ORIG_FLG"><span>商业险</span></ion-checkbox>
                     </div>
                     <label class="item item-input item-validate-picker">
                        <i class="ion-android-calendar"></i>
                        <span class="input-label-inline">生效日期</span>
                        <input type="text" ng-date-picker="datetime" class="validate-input" placeholder="请选择生效日期" ng-model="CAR_BEANS.INSRNC_BGN_TM"  init-picker='{"maxDate":"0,3,0,0","minDate":"0,0,0,1","initVal":"true"}'/>
                     </label>
                  </div>
                  <table class="risks-list" ng-show="CAR_BEANS.SY_ORIG_FLG">
                     <thead>
                        <th style="width: 50%;">险种</th>
                        <th style="width: 25%;">保额(元)</th>
                        <th style="width: 20%;">保费(元)</th>
                     </thead>
                     <tr>
                        <td>
                           <div class="tab-cel checkbox-box">
                              <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[0].PURCHASE_FLAG"><span>车辆损失险</span></ion-checkbox>
                           </div>
                        </td>
                        <td class="text-center">
                          <div>
                             <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[0].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[0].INSRNC_CDE='030101'"/> <!--险种代码-->
                             <input type="text" ng-model="CAR_BEANS.CVRG_LIST[0].AMT" readonly/> <!--险种金额-->
                          </div>
                        </td>
                        <td class="text-center">
                           <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[0].PURCHASE_FLAG" value="未投保"  readonly/>
                           <input type="text" ng-if="CAR_BEANS.CVRG_LIST[0].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030101']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030101'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                        </td>
                        <td></td>
                     </tr>
                     <tr>
                        <td>
                           <div class="tab-cel checkbox-box">
                              <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[1].PURCHASE_FLAG"><span>第三者责任险</span></ion-checkbox>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[1].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[1].INSRNC_CDE='030102'"/>
                           <div class="ui-select">
                              <label ng-bind="CAR_BEANS.CVRG_LIST[1].AMT"></label>
                              <select ng-model="CAR_BEANS.CVRG_LIST[1].AMT">
                                 <option ng-repeat="LIABILITY_ITEM in BASE_BEAN.LIABILITY_INS" value="{{LIABILITY_ITEM*10000}}">{{LIABILITY_ITEM+'万'}}</option>
                              </select>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[1].PURCHASE_FLAG" value="未投保"  readonly/>
                           <input type="text" ng-if="CAR_BEANS.CVRG_LIST[1].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!SZ_CHANGE_FLAG?(CALCOST_RESULT.CVRG_DETAIL['030102']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030102'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                        </td>
                        <td>
                           <i class="icon ion-ios-arrow-right"></i>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div class="tab-cel checkbox-box">
                              <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[2].PURCHASE_FLAG"><span>全车盗抢险</span></ion-checkbox>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[2].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[2].INSRNC_CDE='030103'"/> <!--险种代码-->
                           <input type="text" ng-model="CAR_BEANS.CVRG_LIST[2].AMT" ng-init="CAR_BEANS.CVRG_LIST[2].AMT=CAR_BEANS.VHL_DATA.ACT_VALUE" readonly/>
                        </td>
                        <td class="text-center">
                           <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[2].PURCHASE_FLAG" value="未投保"  readonly/>
                           <input type="text" ng-if="CAR_BEANS.CVRG_LIST[2].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030103']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030103'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                        </td>
                        <td></td>
                     </tr>
                     <tr>
                        <td>
                           <div class="tab-cel checkbox-box">
                              <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[3].PURCHASE_FLAG"><span>司机座位险</span></ion-checkbox>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[3].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[3].INSRNC_CDE='030104'"/>
                           <div class="ui-select">
                              <label ng-bind="CAR_BEANS.CVRG_LIST[3].AMT"></label>
                              <select ng-model="CAR_BEANS.CVRG_LIST[3].AMT" ng-change="SJZW_CHANGE_FLAG=true">
                                 <option ng-repeat="DRIVER_SEAT_ITEM in BASE_BEAN.DRIVER_SEAT" value="{{DRIVER_SEAT_ITEM*10000}}">{{DRIVER_SEAT_ITEM+'万'}}</option>
                              </select>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[3].PURCHASE_FLAG" value="未投保"  readonly/>
                           <input type="text" ng-if="CAR_BEANS.CVRG_LIST[3].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!SJZW_CHANGE_FLAG?(CALCOST_RESULT.CVRG_DETAIL['030104']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030104'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                        </td>
                        <td>
                           <i class="icon ion-ios-arrow-right"></i>
                        </td>
                     </tr>
                     <tr>
                        <td>
                           <div class="tab-cel checkbox-box">
                              <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[4].PURCHASE_FLAG"><span>乘客座位险</span></ion-checkbox>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[4].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[4].INSRNC_CDE='030105'"/>
                           <div class="ui-select">
                              <label ng-bind="CAR_BEANS.CVRG_LIST[4].AMT"></label>
                              <select ng-model="CAR_BEANS.CVRG_LIST[4].AMT" ng-change="CKZW_CHANGE_FLAG=true">
                                 <option ng-repeat="PASSENGER_SEAT_ITEM in BASE_BEAN.PASSENGER_SEAT" value="{{PASSENGER_SEAT_ITEM*10000}}">{{PASSENGER_SEAT_ITEM+'万'}}</option>
                              </select>
                           </div>
                        </td>
                        <td class="text-center">
                           <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[4].PURCHASE_FLAG" value="未投保"  readonly/>
                           <input type="text" ng-if="CAR_BEANS.CVRG_LIST[4].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!CKZW_CHANGE_FLAG?(CALCOST_RESULT.CVRG_DETAIL['030105']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030105'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                        </td>
                        <td>
                           <i class="icon ion-ios-arrow-right"></i>
                        </td>
                     </tr>
                     <tr class="tr-title">
                        <td colspan="4" class="td-title" ng-click="isAddInsure=!isAddInsure" ng-init="isAddInsure = false">
                           <span><i class="icon {{isAddInsure?'ion-ios-minus-empty':'ion-ios-plus-empty'}}"></i>附加险</span>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="4">
                           <table class="risks-list" ng-show="isAddInsure&&CAR_BEANS.SY_ORIG_FLG">
                              <tr>
                                 <th style="width: 50%;"></th>
                                 <th style="width: 25%;"></th>
                                 <th style="width: 20%;"></th>
                                 <th></th>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[5].PURCHASE_FLAG"><span>玻璃单独破碎险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[5].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[5].INSRNC_CDE='030107'"/>
                                    <div class="ui-select">
                                       <label>{{CAR_BEANS.CVRG_LIST[5].BULLET_GLASS=="0"?'普通玻璃':'防弹玻璃'}}</label>
                                       <select ng-model="CAR_BEANS.CVRG_LIST[5].BULLET_GLASS" ng-change="BLPS_CHANGE_FLAG=true">
                                          <option value="0">普通玻璃</option>
                                          <option value="1">防弹玻璃</option>
                                       </select>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[5].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[5].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!BLPS_CHANGE_FLAG?(CALCOST_RESULT.CVRG_DETAIL['030107']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030107'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td>
                                    <i class="icon ion-ios-arrow-right"></i>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[6].PURCHASE_FLAG"><span>自燃损失险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[6].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[6].INSRNC_CDE='030108'"/> <!--险种代码-->
                                    <input type="text" ng-model="CAR_BEANS.CVRG_LIST[6].AMT" ng-init="CAR_BEANS.CVRG_LIST[6].AMT=CAR_BEANS.VHL_DATA.ACT_VALUE" readonly/> <!--险种金额-->
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[6].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[6].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030108']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030108'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <!--<tr>-->
                              <!--<td>-->
                              <!--<div class="tab-cel checkbox-box">-->
                              <!--<ion-checkbox ng-checked="false" ng-value="030109"><span>新增设备损失险</span></ion-checkbox>-->
                              <!--</div>-->
                              <!--</td>-->
                              <!--<td class="text-center">-->
                              <!--<input type="text" value="6000" readonly />-->
                              <!--</td>-->
                              <!--<td class="text-center">-->
                              <!--<input type="text" value="10000" readonly  class="action-price"/>-->
                              <!--</td>-->
                              <!--</tr>-->
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[8].PURCHASE_FLAG"><span>车身划痕损失险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[8].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[8].INSRNC_CDE='030110'"/>
                                    <div class="ui-select">
                                       <label ng-bind="BASE_BEAN.SCRATCH_INS_VAL[CAR_BEANS.CVRG_LIST[8].AMT]"></label>
                                       <select ng-model="CAR_BEANS.CVRG_LIST[8].AMT" ng-change="CSGH_CHANGE_FLAG=true">
                                          <option ng-repeat="(key,value) in BASE_BEAN.SCRATCH_INS" value="{{value.CODE}}">{{value.AMT+'万'}}</option>
                                       </select>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[8].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[8].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!CSGH_CHANGE_FLAG?(CALCOST_RESULT.CVRG_DETAIL['030110']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030110'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td>
                                    <i class="icon ion-ios-arrow-right"></i>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[9].PURCHASE_FLAG"><span>发动机涉水损失险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[9].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[9].INSRNC_CDE='030111'"/>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[9].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[9].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030111']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030111'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[10].PURCHASE_FLAG"><span>修理期间费用补偿险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[10].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[10].INSRNC_CDE='030112'"/>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[10].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[10].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030112']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030112'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <!--<tr>-->
                              <!--<td>-->
                              <!--<div class="tab-cel checkbox-box">-->
                              <!--<ion-checkbox ng-checked="false" ng-value="030113"><span>车上货物责任险</span></ion-checkbox>-->
                              <!--</div>-->
                              <!--</td>-->
                              <!--<td class="text-center">-->
                              <!--<input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[11].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[11].INSRNC_CDE='030113'"/>-->
                              <!--</td>-->
                              <!--<td class="text-center">-->
                              <!--<input type="text" value="待计算" readonly  class="action-price"/>-->
                              <!--</td>-->
                              <!--</tr>-->
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[12].PURCHASE_FLAG"><span>精神损害抚慰金责任险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[12].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[12].INSRNC_CDE='030114'"/>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[12].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[12].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030114']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030114'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[13].PURCHASE_FLAG"><span>无法找到第三方责任险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[13].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[13].INSRNC_CDE='030115'"/>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[13].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[13].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030115']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030115'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="CAR_BEANS.CVRG_LIST[14].PURCHASE_FLAG"><span>指定修理厂特约险</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center">
                                    <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[14].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[14].INSRNC_CDE='030116'"/>
                                 </td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!CAR_BEANS.CVRG_LIST[14].PURCHASE_FLAG" value="未投保"  readonly/>
                                    <input type="text" ng-if="CAR_BEANS.CVRG_LIST[14].PURCHASE_FLAG" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030116']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030116'].PREMIUM):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[0].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_0T" ng-value="FRANCHISE_FLAG_0T?CAR_BEANS.CVRG_LIST[0].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[0].FRANCHISE_FLAG='0'"><span>不计免赔险(车损)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_0T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_0T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030101']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030101'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[1].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_1T" ng-value="FRANCHISE_FLAG_1T?CAR_BEANS.CVRG_LIST[1].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[1].FRANCHISE_FLAG='0'"><span>不计免赔险(三者)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_1T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_1T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030102']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030102'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[2].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_2T" ng-value="FRANCHISE_FLAG_2T?CAR_BEANS.CVRG_LIST[2].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[2].FRANCHISE_FLAG='0'"><span>不计免赔险(盗抢)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_2T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_2T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030103']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030103'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[3].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_3T" ng-value="FRANCHISE_FLAG_3T?CAR_BEANS.CVRG_LIST[3].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[3].FRANCHISE_FLAG='0'"><span>不计免赔险(司机)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_3T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_3T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030104']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030104'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[4].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_4T" ng-value="FRANCHISE_FLAG_4T?CAR_BEANS.CVRG_LIST[4].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[4].FRANCHISE_FLAG='0'"><span>不计免赔险(乘客)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_4T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_4T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030105']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030105'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[8].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_8T" ng-value="FRANCHISE_FLAG_8T?CAR_BEANS.CVRG_LIST[8].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[8].FRANCHISE_FLAG='0'"><span>不计免赔险(刮痕)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_8T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_8T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030110']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030110'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[6].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_6T" ng-value="FRANCHISE_FLAG_6T?CAR_BEANS.CVRG_LIST[6].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[6].FRANCHISE_FLAG='0'"><span>不计免赔险(自燃)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_6T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_6T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030108']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030108'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                              <tr ng-if="CAR_BEANS.CVRG_LIST[9].PURCHASE_FLAG">
                                 <td>
                                    <div class="tab-cel checkbox-box">
                                       <ion-checkbox ng-model="FRANCHISE_FLAG_9T" ng-value="FRANCHISE_FLAG_9T?CAR_BEANS.CVRG_LIST[9].FRANCHISE_FLAG='1':CAR_BEANS.CVRG_LIST[9].FRANCHISE_FLAG='0'"><span>不计免赔险(涉水)</span></ion-checkbox>
                                    </div>
                                 </td>
                                 <td class="text-center"></td>
                                 <td class="text-center">
                                    <input type="text" ng-if="!FRANCHISE_FLAG_9T" value="未投保"  readonly/>
                                    <input type="text" ng-if="FRANCHISE_FLAG_9T" ng-value="CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['030111']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['030111'].N_YL12):'待计算'):'待计算'" readonly class="action-price"/>
                                 </td>
                                 <td></td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
               </div>
               <div class="form-group">
                  <div class="ins-header-checkbox">
                     <div class="checkbox-box">
                        <ion-checkbox ng-checked="CAR_BEANS.JQ_ORIG_FLG" ng-model="CAR_BEANS.JQ_ORIG_FLG"><span>交强险</span></ion-checkbox>
                     </div>
                     <label class="item item-input item-validate-picker">
                        <i class="ion-android-calendar"></i>
                        <span class="input-label-inline">生效日期</span>
                        <input type="text" class="validate-input" ng-date-picker="datetime" placeholder="请选择生效日期" ng-model="CAR_BEANS.INSRNC_BGN_TM_JQ" ng-value="CAR_BEANS.INSRNC_BGN_TM_JQ?TAX_FLAG='1':'0'" init-picker='{"maxDate":"0,3,0,0","minDate":"0,0,0,1","initVal":"true"}'/>
                     </label>
                  </div>
                  <div class="com-price-box" ng-show="CAR_BEANS.JQ_ORIG_FLG">
                     <input type="hidden" ng-model="CAR_BEANS.CVRG_LIST[15].INSRNC_CDE" ng-init="CAR_BEANS.CVRG_LIST[15].INSRNC_CDE='0357'"/>
                     <div class="row">
                        <div class="col col-50">交强险</div>
                        <div class="col col-50 com-price">
                           <div class="item-content">
                              <span>{{CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_JQ_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['0357']==undefined?'待计算':CALCOST_RESULT.CVRG_DETAIL['0357'].PREMIUM):'待计算'):'待计算'}}</span>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col col-50">车船税</div>
                        <div class="col col-50 com-price">
                           <div class="item-content">
                              <span>
                                 {{CALCOST_RESULT.CALCOST_FLAG?(!INSRNC_BGN_TM_JQ_CHANGE?(CALCOST_RESULT.CVRG_DETAIL['0357']==undefined?'待计算':CALCOST_RESULT.VHLTAX.SUM_UP_TAX):'待计算'):'待计算'}}
                              </span>
                           </div>
                        </div>
                     </div>
                     <div class="row com-price-desc">
                        <div class="col">
                           注:按国家规定车船税需与交强险同时购买
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </ion-content>
   <div class="bar bar-footer no-padding bar-footer-price">
      <div class="price-tags-box">
         <div class="price-tags price-tags-left">
            总价:<span>{{CALCOST_RESULT.CALCOST_FLAG?('￥'+('' | sum:2:[CALCOST_RESULT.SY_BASE.PREMIUM,CALCOST_RESULT.JQ_BASE.PREMIUM,CALCOST_RESULT.VHLTAX.SUM_UP_TAX])):'待计算'}}</span>
         </div>
         <div class="price-tags price-tags-right">
            <button class="button button-balanced" ng-click="calAmount();" ng-if="REL_CALCOST_FLAG">{{REL_CALCOST_TRIMER?'重新计算':'计算保费'}}</button>
            <button class="button button-balanced submit-button" ng-click="checkHandle();"  ng-if="!REL_CALCOST_FLAG">下一步</button>
         </div>
      </div>
   </div>
</ion-view>
